
	body { font: 14px/1.5em Verdana; }
	img { vertical-align:middle; }
	a { text-decoration: none; }
	a.whity { color:white; font-weight:bold }
	.meat { margin-left:25px; margin-right:25px;} 
	#map { position: relative; height: 600px; width: 100%; }
	#kw { display:none;}
	.ctr { text-align:center; }
	.header-left { float: left; margin-top: 3px; width: 100%; background-color: #51497F;}
	.stay-right { float: right; margin-top: 5px; padding-right: 50px; }
	.stay-left { float: left; margin-top: 5px; }
	.clearer { clear: both;}
	.nw { white-space:nowrap; }
	#cam {
	    width: 370px;
	    height: 320px;
	    background-color: #0000ff;
	    overflow: auto;
	    white-space:nowrap;
	}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

